<table class="w-full max-w-2xl mx-auto text-left mb-10 text-lg">
  <thead class="bg-gray-200">
    <tr class="h-10">
      <th class="p-4">Food</th>
      <th class="p-4">Quantity</th>
      <th class="p-4">Unit Price</th>
      <th class="p-4">Actions</th>
    </tr>
  </thead>
  <tbody class="bg-gray-300 p-20">
    <% @foods.each_with_index do |food, index|  %>
     <% if index.even?  %>
      <tr class='bg-gray-200 h-16'>
      <%else%>
      <tr class='bg-gray-300 h-16'>
      <%end%>
        <td class="p-4 text-blue-400 underline"><%= link_to "#{food.name}", food_path(food.id) %>(<%= food.quantity%>)</td>
        <td class="p-4"><%= food.quantity%> <%= food.measurement_unit%></td>
        <td class="p-4">$<%= food.price%></td>
        <td class="p-4"><%= button_to "delete", food_path(food.id), method: :delete, class: 'text-red-400 underline hover:pointer-cursor' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
