
<% if @food.errors.any? %>
  <div class="post-errors-box">
    <p><%= pluralize(@food.errors.count, "error") %> found:</p>

    <ul class="food-errors-ul">
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>


<%= form_with path: new_food_path, model: @food, method: :post do |form| %>
<div class="flex flex-col justify-center items-center gap-2 w-full h-full">
<h1 class="text-3xl text-bold pt-6">New Form for Food</h1>
<%= form.label :name%>
<%= form.text_field :name%>
<%= form.label :measurement_unit%>
<%= form.text_field :measurement_unit%>
<%= form.label :price%>
<%= form.text_field :price%>
<%= form.label :quantity%>
<%= form.number_field :quantity%>
<span class="border-2 border-black p-2"><%= form.submit%></span>
</div>
<% end %>
